# WebDataset (from Img2Dataset)
**/*.tar

# Reddit Scrape
data/inputs/reddit

# Weights and Biases
wandb

# Other
**/*pycache*
**/*.pth
**/*.ckpt

!data/outputs/toloka/top_10_percent.html

aesthetic-rankings

# For caching datasets
cache

# Weights
!model_weights/2023-01-14_19-07-05.pth

